# Previamente hay que configurar el fichero de configuración de apache:
# abrir el fichero: /etc/apache2/sites-available/cangulo.conf
# la directiva "AllowOverride none" hay que modificarla a "AllowOverride all"
# reiniciar apache: sudo service apache2 restart 
# para revisar los posibles errores, acudir al log: joe /var/log/apache2/error.log
# activar module_rewrite ejecutando en una terminal los siguientes comandos:
#    a2enmod rewrite
#    systemctl restart apache2


# se inicializa la configuración
Options +FollowSymLinks
RewriteEngine on


# se incluye la siguiente linea para que htaccess pueda interpretar ficheros php
AddType application/x-httpd-php .php


# Rutas:
# No hace falta definir rutas cuando por ejemplo /fichero/ = fichero.php porque
# ya viene definido de base. Por ejemplo, los menús de esta aplicación

# ruta original: /fallasvalencia/fallero.php
RewriteRule ^fallasvalencia/fallero/.php$ /fallasvalencia/mostrarfalla [R=301,L]
